/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/gobierno\/html\/sites\/local\.enequipo\.com\/themes\/enequipo\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/gobierno\/html\/sites\/local\.enequipo\.com\/themes\/enequipo\/sass\/components\/_basics\.scss}line{font-family:\000031}}
body {
  background: url "../images/fondo.jpg";
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/gobierno\/html\/sites\/local\.enequipo\.com\/themes\/enequipo\/sass\/components\/_basics\.scss}line{font-family:\000037}}
.l-page {
  background: url "../images/fondo.jpg";
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/gobierno\/html\/sites\/local\.enequipo\.com\/themes\/enequipo\/sass\/components\/_basics\.scss}line{font-family:\0000312}}
ul li {
  list-style: none;
  display: inline-block; }
