body{
	background: url ("../images/fondo.jpg") ;
	text-align: center ;
}


.l-page{
	background: url ("../images/fondo.jpg") ;
	text-align: center ;
}

ul li{
	list-style: none ;
	display: inline-block ;
}